.gallery {
    min-height: 100dvh;
    // width: 100vw;
    columns: 320px;


    &__img {
        object-fit: contain;
        width: 100%;
        margin-block: 0.5rem;
        border-radius: 15px;
    }

    &__caption {
        text-align: center;
        margin-bottom: 0.4em;

        &:not(:empty) {
            padding: 0.5rem;
        }
    }

    &__blockquote {
        quotes: initial;

        // &::before {
        //     content: open-quote;
        //     padding-right: 0.2em;
        // }

        // &::after {
        //     content: close-quote;
        //     padding-left: 0.2em;
        // }

        // &::before,
        // &::after {
        //     display: inline-block;
        //     vertical-align: bottom;
        //     // color: orange;
        //     font-size: 2rem;
        //     position: relative;
        // }

    }

    @media screen and (min-width: 640px) {
        margin-inline: 1rem;
    }
}

.end {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.12em;

    @media screen and (min-width: 1000px) {
        max-width: 50%;
        display: block;
        margin-inline: auto;
    }
}

strong {
    font-weight: bold;
}